.gpageimage {
    width: 95%;
}

.groupinfo {
    color: black;
}

.adventureinfo {
    padding: 15px;
}

.verticalbtn {
    margin-top: 100px;
    margin-left: 40px;
    ;
}

.adventuredetails {
    margin-top: -360px;
}